{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2>{{title}}</h2>
{{/banner}}

<div class="container list">
    <div class="item">
        <img src="images/samambaia.jpg" class="item--image" />
        <div class="item--name">Samambaia</div>
        <div class="item--color">Pteridium aquilinum</div>
    </div>
</div>

{{>partials/footer}}