<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Plantas</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/folha.png"/>
</head>
<body>
<header>
    <div class="container">
        <a href="/">Loja de Plantas</a>
        <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Pesquise por planta" />
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class="active"><a href="/">Todos</a></li>
        <li class=""><a href="/sementes">Sementes</a></li>
    </ul>
</nav>